/*
 * TYPO3 Extbase Book
 *
 * (c)2019 by Michael Schams <schams.net>
 * https://extbase-book.org
 */

body {
	font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

main p {
	color: #4f4f4f;
}

main .content .btn-light,
main .content .bg-light {
	background-color: #f0f0f0 !important;
}

nav.navbar.bg-navbar {
	 background-color: #8a140d;
}

nav.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
}

nav.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 1);
}

main .jumbotron {
	background-color: #e3e3e3;
	padding-top: 8rem;
	border-radius: 0;
	margin-bottom: 0;
}

main .jumbotron .container {
	padding-top: unset;
}

main .jumbotron h1 {
	font-family: 'Droid Serif', serif;
}

main .jumbotron p.subheader {
	font-weight: bold;
	letter-spacing: 0.04rem;
}

main .promo {
	height: 3rem;
	background-color: #e3e3e3;
	border-top: 1px solid #cccccc;
	margin-bottom: 5rem;
	z-index: 9999;
}

main .promo.sticky {
	position: fixed;
	top: 56px;
}

main .promo p {
	margin: 0.6rem 0 0 0;
	padding: 0;
	font-size: 1.2rem;
	letter-spacing: 2px;
	font-weight: bold;
	color: #8a140d;
	/* text-transform: uppercase; */
}

main .promo p {
	color: #666666;
}

main .fa-left-of-text {
	margin-right: .8rem;
}

main .fa-right-of-text {
	margin-left: .8rem;
}

main .promo.sticky + .content {
	padding-top: 110px;
}

main .content {
	margin-top: 6rem;
}

main .content h1,
main .content h2,
main .content h3 {
	letter-spacing: -0.14rem;
}

main .content h4 {
	letter-spacing: -0.07rem;
}

main .content h5 {
}

main .content .footer-buy-online {
 	margin: 1rem 0 0 0;
 	padding-top: 3rem;
 	padding-bottom: 3rem;
	border-top: 1px solid black;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

main .content .footer-buy-online p {
	font-weight: bold;
}

main #landing-page.content .footer-buy-online,
main #resources.content .footer-buy-online {
	border: 0 !important;
}

main #landing-page.content {
	margin-top: 0;
}

main .btn-readmore {
	font-size: 1.1rem;
	color: #4f4f4f;
	background-color: white;
	border-color: #bfbfbf;
}

main .btn-readmore:hover {
	background-color: #f0f0f0;
	border-color: #4f4f4f;
}

main .featurette-divider {
 	margin: 5rem 0;
}

main .featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

main .featurette-content {
	font-size: 1.2rem;
	line-height: 1.4;
	letter-spacing: -.05rem;
}

main .content ul.chapters {
	list-style-type: square;
	margin-left: 0px;
}

main .content ul.chapters li {
	margin-left: -10px;
	padding-left: 6px;
}

main .marketing .col-lg-2,
main .marketing .col-lg-3,
main .marketing .col-lg-4,
main .marketing .col-lg-5,
main .marketing .col-lg-6 {
	margin-bottom: 1.5rem;
	text-align: center;
}

main .marketing h2 {
	margin-top: 1.2rem;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0rem;
}

main .marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

main .marketing .col-lg-4 div.rounded-circle-with-icon {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	padding-top: 46px;
}

main #about-the-author.content .author .author-image {
	text-align: center;
}

main #about-the-author.content .author .author-image p {
	margin-top: 0.8rem;
	font-weight: bold;
}

main #buy-online.content {
		padding-bottom: 3rem;
}

main #buy-online.content .no-margin-bottom {
	margin-bottom: 0;
}

main #buy-online.content p.best-choice {
	margin-top: 0.6rem;
	line-height: 1.2em;
}

main #resources.content .list-group .list-group-item .alert {
	margin-top: 1rem;
}

main .margin-top {
	margin-top: 2rem;
}

main .number-in-circle {
	margin-right: 0.4rem;
}

main .book-title {
	font-weight: bold;
	color: #8a140d;
}

main .list-group .first-item {
	border-top: none;
}

main .list-group .last-item {
	border-bottom: none;
}

footer {
	background-color: #e9ecef;
	padding: 1rem 0;
}

footer p {
	font-size: 0.8rem;
	text-align: center;
	margin: 0;
}

@media screen and (min-width: 992px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: .8rem;
		padding-left: .8rem;
	}
	main .jumbotron {
		padding: 8rem 0 12rem 0;
		background: url(../Images/jumbotron-background.png) no-repeat bottom center;
		background-size: cover;
	}
	main .jumbotron h1 {
		font-size: 3.8rem;
		text-shadow: 0 0 .4rem #888888;
	}
}

@media screen and (max-width: 991px) {
	/*
	body {
		background-color: red;
	}
	*/
}

@media screen and (max-width: 767px) {
	main .jumbotron h1 {
		font-size: 2.8rem;
	}
	main .featurette-divider {
	 	margin: 3rem 0;
	}
}

@media screen and (max-width: 500px) {
	main .jumbotron h1 {
		font-size: 2rem;
	}
	main .featurette-divider {
	 	margin: 2rem 0;
	}
	main .featurette-heading {
		font-size: 1.8rem;
	}
	main .featurette-content {
		font-size: 1rem;
		letter-spacing: 0;
	}
	main .promo p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 380px) {
	main .jumbotron h1 {
		font-size: 1.4rem;
	}
	main .jumbotron p.subheader {
		font-weight: normal;
		letter-spacing: 0;
	}
}

.flag-icon-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 0.85em;
	line-height: 1em;
}
.flag-icon:before {
	content: "\00a0";
}
.flag-icon.flag-icon-squared {
	width: 1em;
}
.flag-icon-de {
	background-image: url(../Flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
	background-image: url(../Flags/1x1/de.svg);
}
.flag-icon-gb {
	background-image: url(../Flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
	background-image: url(../Flags/1x1/gb.svg);
}
.flag-icon-it {
	background-image: url(../Flags/4x3/it.svg);
}
.flag-icon-it.flag-icon-squared {
	background-image: url(../Flags/1x1/it.svg);
}
